/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Work+Sans:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  font-weight: 300;
}

h2 {
  font-size: 2.6rem;
  font-weight: bold;
}

h1 {
  font-size: 4.8rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

/* Nav Section */
.main-header {
  background-color: #1a252f;
  color: white;
}

nav {
  min-height: 10vh;
  padding: 2rem;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
}

nav ul li {
  border-top: 0.1rem solid transparent;
  padding-top: 1rem;
  transition: all 500ms;
}

nav ul li:hover {
  /* border-top: 0.1rem solid rgba(241, 196, 15, 1); */
  border-top: 0.1rem solid white;
}

#logo {
  flex: 2 1 40rem;
  font-family: 'Pattaya', sans-serif;
}

/* Hero Section */

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url('/Images/pexels-sam-kolder-2387873.jpg');

  /* background: linear-gradient(rgba(52, 152, 219, 1), transparent),
    url('/Images/hero-bg.jpg'); */

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-weight: 800;
}

.hero h3 {
  font-weight: 400;
  padding: 4rem 0;
}

.hero button {
  background-color: rgba(255, 255, 255, 0.274);
  border: 2px solid white;
  padding: 1rem;
  width: 30rem;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 800;
  font-size: 2.5rem;
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.63); */
  outline: none;
  transition: all ease 300ms;
}

.hero button:hover {
  /* background-color: white; */
  transform: rotate(-3deg);
  /* color: #4d4d4d; */
  /* box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.63); */
}

/* Locations Section */

.locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent),
    url('/Images/pexels-gratisography-2255.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.locations-head {
  width: 90%;
  margin: auto;
}

.locations-head h2 {
  font-size: 4rem;
  padding: 2rem 0;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
  font-family: 'Work Sans', sans-serif;
}

.locations-head h3 {
  padding: 4rem 0;
  background: linear-gradient(#131c27, #663b34);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cloud {
  width: 110rem;
  position: absolute;
  top: -25%;
  right: -15%;
  pointer-events: none;
}

.moving-cloud-1 {
  z-index: 1;
  animation: cloudAnimation 6s infinite alternate ease-in-out;
}

.moving-cloud-2 {
  top: 0%;
  z-index: 0;
  opacity: 0.3;
  animation: cloudAnimation 4s infinite alternate ease-in-out;
}

/* Benefits Section */

.benefits {
}

.benefits-head {
  background: #2c3e50;
  color: white;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.benefits-head h2 {
  font-size: 4rem;
}

.benefits-head h3 {
  font-size: 2.5rem;
  padding: 1rem;
}

.cards {
  min-height: 70vh;
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 25rem;
  min-height: 30vh;
  margin: 2rem 5rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-icon {
  background-color: #2c3e50;
  text-align: center;
  padding: 1rem;
}

.card img {
  max-width: 15%;
  margin: 2rem;
}

.card h4 {
  padding: 2rem;
  font-size: 3.2rem;
  font-weight: 600;
}

.card p {
  padding: 2rem 2rem 3rem 2rem;
}

/* Animations */
@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/*********************** Media Query *************************/
/* TABLET Version */
@media screen and (max-width: 934px) {
  nav {
    text-align: center;
  }

  #logo {
    padding: 1rem;
  }

  h1 {
    font-size: 4rem;
  }

  .locations-head h2 {
    font-size: 4rem;
    text-decoration-thickness: 0.2rem;
    z-index: 1;
  }

  .cloud {
    width: 90rem;
  }

  .moving-cloud-1 {
    z-index: 0;
  }

  .moving-cloud-2 {
    z-index: 0;
  }

  h3 {
    font-size: 2.2rem;
  }

  nav ul li:hover {
    border-top: 0.1rem solid transparent;
  }
}

/* Mobile Version */
@media screen and (max-width: 500px) {
  #logo {
    padding: 1rem;
  }

  h1 {
    font-size: 3rem;
  }

  .locations-head h2 {
    font-size: 2.5rem;
    text-decoration-thickness: 0.2rem;
  }

  h3 {
    font-size: 2rem;
  }

  .hero button {
    width: 20rem;
    font-size: 2rem;
  }

  nav ul li {
    font-size: 1.8rem;
  }

  .cloud {
    width: 50rem;
  }
}
